body{
  background-image: url("https://pando-assets.s3.amazonaws.com/uploads/2013/07/screen-shot-2013-07-08-at-5-06-05-pm.png?w=300 (248kB) ");
  font-family: cursive;
  color: green;
  text-shadow: 2px 2px #ff0000 ;
}

header{
  background-color: yellow;
  padding-bottom: 100px;
  margin-bottom: 100px;
  border: 10px;
  border: 10px solid black;
}

.column-1{
  display: inline-block;
  vertical-align: top;
  width: 49%;
  background-color: rgba(155, 155, 0, .4);
}

.column-2{
  display: inline-block;
  vertical-align: top;
  width: 49%;
  background-color: rgba(0,255,0, .5);
}

footer{
  
}

[9:24] 
Here's the code for the copy paste:)