<!DOCTYPE html>
<html>
<head>
  <title>Why You Should Go To School</title>
</head>
<body>
  <p> Which campus are you interested in exploring?</p>
  <form action="/campus" method="POST">
    <input type="text" name="campus" placeholder="Campus">
    <button type="submit">Save</button>
  </form>


</body>
</html>
