<!DOCTYPE html>
<html>
<head>
  <title>Age Group</title>
</head>
<body>
  <p> Where is the new DBC Campus?</p>
  <form action="/age" method="POST">
    <input type="text" name="campus" placeholder="Campus">
    <button type="submit">Save</button>
  </form>


</body>
</html>
