<!DOCTYPE html>
<html>
<head>
  <title>Age Group</title>
</head>
<body>
  <p> Where is the new DBC Campus?</p>
  <form action="/campus" method="POST">
    <input type="text" name="campus" placeholder="Campus">
    <button type="submit">Save</button>
  </form>
  <p>Current DBC Campuses</p>
    <ul>
    <% @campuses.each do |campus| %>
      <li><%= campus['campus'] %></li>
    <% end %>
  </ul>


</body>
</html>
